@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@import "@heroui/styles";

:root {
  --button: #D19254;
  --hoverButtonsColor: #d18c47;

}

/* src/index.css */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* মোবাইল স্ক্রিনে ডানে-বামে অতিরিক্ত স্ক্রোল হওয়া বন্ধ করবে */
}

/* ডার্ক মোডে গ্লোবাল ব্যাকগ্রাউন্ড কালার এক রাখা */
html.dark body {
  background-color: #070a10;
  color: #ffffff;
}